---
name: Ansible Lint

on:
  workflow_call:  # allow this workflow to be called from other workflows
  workflow_dispatch:  # allow this workflow to be called from user
  # Schedule run (once daily)
  schedule:
    ## Daily Docker Image Rebuild (10:29am daily)
    - cron: '29 10 * * *'

jobs:
  ansible_lint:
    name: Ansible-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed for progressive mode to work

      ## Pin to Python 3.12, which is compatible with ansible-core 2.19.3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint distlib

      - name: Run ansible-lint
        run: |
          ansible-lint -c .ansible-lint
